@font-face {
    font-family: Assistant;
    font-weight: normal;
    src: url(assets/fonts/Assistant-Regular.woff);
}
@font-face {
    font-family: Assistant;
    font-weight: 700;
    src: url(assets/fonts/Assistant-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

body {
    /* color: #0f1111;
    background-color: #fff;
    font-size: 1.5em;
    line-height: 1.35; */
}
button {
    border-style: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    text-decoration: none;
    background: none;
    border-style: none;
}
a {
    text-decoration: none;
    /* color: #0f1111; */
}

.mobile-container {
    display: none;
}

.desktop-container header {
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
}
.desktop-container header .logo-container {
    float: left;
    height: inherit;
    margin-left: 4%;
    line-height: 80px;
}
.desktop-container header .logo-container .logo {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 53px;
    height: 36px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -462px 0;
}
.desktop-container header .navbar-container {
    float: left;
    line-height: 80px;
    height: 80px;
    margin: 0 0 0 1%;
}
.desktop-container header .navbar-container .navbar {
    display: inline-block;
    float: left;
}
.desktop-container header .navbar-container .navbar .nav-content {
    float: left;
    border: hidden;
    text-align: center;
}
.desktop-container header .navbar-container .navbar .nav-content .nav-text-container {
    display: inline;
}
.desktop-container header .navbar-container .navbar .nav-content .nav-text-container .nav-text {
    padding: 0 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left .2s ease-out, width .2s ease-out;
    transition: left .2s ease-out, width .2s ease-out;
    font-weight: 700;
}
.desktop-container header .navbar-container .navbar .nav-content .new-text-container {
    display: inline;
    margin: 0 0 34px -15px;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff3f6c;
    content: "new";
}
.desktop-container header .navbar-container .navbar .nav-content .new-text-container .new-text {
    top: -.4rem;
    font-size: 100%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff3f6c;
    margin-left: -1.2px;
}
.desktop-container header .desktop-actions {
    display: flex;
    float: right;
    line-height: 0;
    height: 40px;
    margin: 20px 0 0 10px;
}
.desktop-container header .desktop-actions .desktop-user {
    position: relative;
    height: 60px;
    margin: 0 20px 0 15px;
}
.desktop-container header .desktop-actions .desktop-user .user-icon-container {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
}
.desktop-container header .desktop-actions .desktop-user .user-icon-container .user-icon {
    display: block;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 24px;
    height: 24px;
    background-position: -298px -56px;
    margin: 10px 0 0;
    position: absolute;
    bottom: 13px;
    left: 5px;
}
.desktop-container header .desktop-actions .desktop-user .user-icon-container .user-title {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}
.desktop-container header .desktop-actions .desktop-wishlist {
    display: flex;
    text-decoration: none;
    position: relative;
    margin: 0 55px 0 10px;
}
.desktop-container header .desktop-actions .desktop-wishlist .wishlist-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -315px -187px;
    display: inline-block;
    width: 17px;
    height: 22px;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    left: 13px;
}
.desktop-container header .desktop-actions .desktop-wishlist .wishlist-title {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}
.desktop-container header .desktop-actions .desktop-cart {
    display: flex;
    text-decoration: none;
    position: relative;
    margin: 0 50px 0 15px;

}
.desktop-container header .desktop-actions .desktop-cart .bag-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -341px -56px;
    left: -1px;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
}
.desktop-container header .desktop-actions .desktop-cart .bag-title {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}
.desktop-container header .desktop-query {
    margin: 20px 20px 20px 40px;
    float: right;
    line-height: 0;
    position: relative;
    width: 320px;
    margin-right: 8px;
}
.desktop-container header .desktop-query .search {
    width: 95%;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
}
.desktop-container header .desktop-query .search-icon-container {
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
}
.desktop-container header .desktop-query .search-icon-container .search-icon {
    display: inline-block;
    transform: scale(.7);
    text-align: center;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 21px;
    height: 21px;
    background-position: -754px 0;

}


.desktop-container main {
    min-height: 750px;
    margin-top: -2px; 
    /* margin-top: 81px;  */
}
.desktop-container main .main-content {
    /* margin: 58px auto 0; */
    margin: 83px auto 0;
    max-width: 1600px;
}
.desktop-container main .main-content .content-row-1,
.desktop-container main .main-content .content-row-2,
.desktop-container main .main-content .content-row-3 {
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
}
.desktop-container main .main-content .content-row-1 .text-list-container {
    vertical-align: top;
    padding: 20px 0 0;
}
.desktop-container main .main-content .content-row-1 .text-list-container .text-list {
    list-style: none;
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: top;
    padding-left: 0;
    line-height: 1;
}
.desktop-container main .main-content .content-row-1 .text-list-container .list-item {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    text-transform: capitalize;
    line-height: 1;
}
.desktop-container main .main-content .content-row-1 .text-list-container .list-item .title {
    color: #282c3f;
}
.desktop-container main .main-content .content-row-1 .text-list-container .list-item .title.bold {
    font-weight: 700;
}
.desktop-container main .main-content .content-row-1 .text-list-container .list-item .title.slash::after {
    font-size: 14px;
    content: "/";
    margin-left: 5px;
    color: #282c3f;
}
.desktop-container main .main-content .content-row-2 .title-container {
    margin: 10px 0 5px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
}
.desktop-container main .main-content .content-row-2 .title-container .title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #282c3f;
    max-width: 400px;
}
.desktop-container main .main-content .content-row-2 .title-container .title-count {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #878b94;
    white-space: nowrap;
    margin-left: 3.25px;
}
.desktop-container main .main-content .content-row-3 .left-container {
    -webkit-box-orient: vertical;
    align-self: flex-start;
    -webkit-box-direction: normal;
    min-width: 252px;
    max-width: 252px;
    -webkit-box-flex: 0 !important;
    -ms-flex-positive: 0!important;
    flex-grow: 0 !important;
    flex: 1 1 0%;
}

.desktop-container main .main-content .content-row-3 .left-container .left-inner {
    transition: margin .2s cubic-bezier(.25,.46,.45,.94);
    margin-top: 0;
    padding-top: 23px;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters.header-container {
    position: relative;
    border-right: none !important;
    padding-top: 0;
}
.desktop-container main .left-container .left-inner .left-filters.header-container .header-title {
    font-weight: 700;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters.categories-container {
    position: relative;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters-header {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
}
.desktop-container main .content-row-3 .left-container .left-inner .categories-list {
    list-style: none;
}
.desktop-container main .content-row-3 .left-container .categories-list li {
    font-size: 14px;
    margin-bottom: 7px;
}
.desktop-container main .content-row-3 .left-container .categories-list li:last-child {
    margin-bottom: 0;
}
.desktop-container main .content-row-3 .left-container .categories-list li label {
    position: relative;
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;
}
.desktop-container main .content-row-3 .left-container .categories-list li label input[type="checkbox"] {
    margin: 0 16px 0 0;
    visibility: hidden;
    overflow: visible;
}
.desktop-container main .content-row-3 .left-container .categories-list li label .categories-num {
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
.desktop-container main .content-row-3 .left-container .categories-list li label .checkbox-indicator {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}
.desktop-container main .content-row-3 .left-container .categories-list li label .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 5px;
    border-color: #fff;
    border-style: none none solid solid;
    border-width: 2px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    white-space: nowrap;
    cursor: pointer;
    color: #282c3f;
    font-size: 14px;
}
.desktop-container main .content-row-3 .left-container .left-filters .search-box-container {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%;
}
.desktop-container main .content-row-3 .left-container .left-filters .search-box-container .search-box {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 21px;
    height: 21px;
    background-position: -754px 0;
    right: 4px;
    top: 4px;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    display: inline-block;
    position: absolute;
    cursor: pointer;
}
.desktop-container main .content-row-3 .left-container .left-filters.brand-container .brand-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}
.desktop-container main .content-row-3 .left-container .left-filters.price-container .left-filters-header {
    margin: 0;
}

.desktop-container main .content-row-3 .left-container .left-filters .slider-container {
    margin: 12px 0 4px;
}
.desktop-container main .content-row-3 .left-container .left-filters .slider-container .slider-inner {
    margin-right: 16px;
    width: 200px;
}
.desktop-container main .content-row-3 .left-container .left-filters .slider-container .slider {
    position: relative;
    height: 12px;
    background-color: #fff;
}
.desktop-container main .content-row-3 .left-container .left-filters .slider-container .slider-values {
    margin: 10px -4px 0 4px;
    font-size: 12px;
    font-weight: 600;
}
.desktop-container main .content-row-3 .left-container .slider-container .slider .first-slider {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #d4d5d9;
}
.desktop-container main .content-row-3 .left-container .slider-container .slider .second-slider {
    position: absolute;
    height: 2px;
    top: 5px;
    background-color: #ff3f6c;
    left: 0px;
    right: 0px;
}
.desktop-container main .content-row-3 .left-container .slider-container .slider .left-thumb {
    transform: translateX(-75%);
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
    left: 0px;
}
.desktop-container main .content-row-3 .left-container .slider-container .slider .right-thumb {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
    transform: translateX(-25%);
    left: 200px;
}
.desktop-container main .content-row-3 .left-container .slider-container .slider .thumb-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 4px;
    left: 4px;
    position: absolute;
}
.desktop-container main .content-row-3 .left-container .left-inner .categories-list .color-list-item {
    display: block;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 14px;
    margin-bottom: 7px;
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label {
    position: relative;
    cursor: pointer;
    color: black;
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 27px;
    line-height: 16px;
    vertical-align: top;
    position: relative;
    background-color: rgb(54, 69, 79);
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.white {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d6d6d6;
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.blue {
    background-color: rgb(0, 116, 217);
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.green {
    background-color: rgb(94, 177, 96);
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.navy-blue {
    background-color: rgb(60, 68, 119);
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.grey {
    background-color: rgb(159, 168, 171);
}
.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-label.red {
    background-color: rgb(211, 75, 86);
}

.desktop-container main .content-row-3 .left-container .categories-list .color-list-item label .color-num {
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters .color-more {
    cursor: pointer;
    margin-left: 27px;
    margin-top: 10px;

}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters .color-more span {
    display: block;
    font-size: 15px;
    color: #ff3f6c;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.desktop-container main .content-row-3 .left-container .left-inner .left-filters:last-child .checkbox-indicator {
    border-radius: 50%;
}

.desktop-container main .content-row-3 .right-container {
    flex: 1 1 0%;
    padding-left: 0;
    align-self: flex-start;
}
.desktop-container main .content-row-3 .right-container .right-filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.desktop-container main .content-row-3 .right-container .right-filters {
    /* user-select: none; */
    width: 100%;
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;
    /* height: 59.8px; */
}
.desktop-container main .content-row-3 .right-container .right-filters .sort-container {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: 5px;
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-by {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-by span {
    font-weight: 700;
    color: #282c3f;
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-by .down-arrow {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -367px -1px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: right;
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-list {
    display: none;
    width: 255px;
    background-color: #fff;
    position: absolute;
    top: 33px;
    left: -1px;
    margin: 0;
    padding: 16px 0;
    z-index: 2;
    border: 1px solid #d4d5d9;
    border-top: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .08);
    list-style-type: none;
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-list li:hover {
    background-color: hsl(0, 0%, 96%);
}
.desktop-container main .content-row-3 .right-container .sort-container .sort-list label {
    display: block;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    padding: 10px 20px;
}
.desktop-container main .content-row-3 .right-container .rest-filters-container .rest-filters {
    list-style: none;
    flex-flow: row wrap;
    margin: -10px 0 0 16px;
    display: flex;
    font-size: 14px;
    color: #282c3f;
    /* -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; */
    padding-left: 0;
}
.desktop-container main .content-row-3 .right-container .rest-filters li {
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer;
}
.desktop-container main .content-row-3 .right-container .rest-filters label {
    position: relative;
    padding: 5px 8px 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}
.desktop-container main .content-row-3 .right-container .rest-filters h4 {
    font-weight: 400;
    margin: 0;
    display: inline-block;
    padding-left: 0;
}
.desktop-container main .content-row-3 .right-container .rest-filters .down-arrow {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -2679px -89px;
    background-size: 1404px 105px;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: scale(.8);
    margin-left: 4px;
    vertical-align: middle;
}
.desktop-container main .content-row-3 .right-container .cards-container {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 20px;
}
.desktop-container main .content-row-3 .cards-container .cards-container-inner {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: 0 -10px 0 3px;
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
}
.desktop-container main .content-row-3 .cards-container .card {
    width: 210px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px 30px;
}
.desktop-container main .content-row-3 .cards-container .card .ratings-container {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 0 0 4px;
    background-color: hsla(0, 0%, 100%, .8);
}
/* .desktop-container main .content-row-3 .card .ratings-container span {
    color: black;
} */
.desktop-container main .content-row-3 .card .ratings-container .star-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -171px -28px;
    width: 24px;
    height: 24px;
    margin-left: -2px;
    transform: scale(.55);
}
.desktop-container main .content-row-3 .card .ratings-container .ratings-count {
    display: flex;
    padding-right: 4px;
}
.desktop-container main .content-row-3 .card .ratings-container .ratings-count .bar {
    font-size: 10px;
    margin: -.5px 6px 0 -2px;
}
.desktop-container main .content-row-3 .cards-container .card .ad {
    position: absolute;
    background-color: #a9abb3;
    border-radius: 2px;
    top: 9px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
    z-index: 1;
}
.desktop-container main .content-row-3 .cards-container .card .contents .img-container {
    position: relative;
    width: 210px;
    height: 280px;
    background: rgb(229, 241, 255);
}
.desktop-container main .content-row-3 .cards-container .card .img-container img {
    width: 100%;
    height: 100%;
}
.desktop-container main .content-row-3 .cards-container .card .contents .info-wrapper {
    position: relative;
    z-index: 3;
    background: #fff;
    padding: 0 10px;
    height: 100%;
    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
}
.desktop-container main .content-row-3 .card .info-wrapper .product-brand {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desktop-container main .content-row-3 .card .info-wrapper .product-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.desktop-container main .content-row-3 .card .info-wrapper .price-container {
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    margin: 10px 0 6px;
    font-weight: 700;
}
.desktop-container main .content-row-3 .card .info-wrapper .discounted-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.desktop-container main .content-row-3 .card .info-wrapper .original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.desktop-container main .content-row-3 .card .info-wrapper .discount-percentage {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.desktop-container main .content-row-3 .card .info-wrapper .additional-info {
    color: #ff5722;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}

.desktop-container main .content-row-3 .right-container .show-more-container {
    padding: 0 20px 0 15px;
}

.desktop-container main .content-row-3 .right-container .pagination-container {
    list-style: none;
    text-align: center;
    border-top: 1px solid #edebef;
    padding-top: 24px;
    padding-bottom: 60px;
    color: #282c3f;
    padding-left: 0;
    margin: 16px 0;
}
.desktop-container main .content-row-3 .pagination-container li {
    display: inline-block;
    margin-right: 9px;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 2px;
}
.desktop-container main .content-row-3 .pagination-container .pagination-disabled {
    pointer-events: none;
    opacity: .6;
}
.desktop-container main .content-row-3 .pagination-container .double-arrow-left {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 8px;
    margin-right: 8px;
}
.desktop-container main .content-row-3 .pagination-container .double-arrow-left::before {
    content: "";
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    left: 0;
    box-sizing: border-box;
}
.desktop-container main .content-row-3 .pagination-container .double-arrow-left::after {
    content: "";
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    left: 8px;
    box-sizing: border-box;
}
.desktop-container main .content-row-3 .pagination-container .prev {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-right: 64px;
    padding: 10px 22px;
}
.desktop-container main .content-row-3 .pagination-container .arrow-left {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
    margin-right: 8px;
    transform: rotate(224deg);
    margin-left: 2px;
}
.desktop-container main .content-row-3 .pagination-container .page-num {
    color: #535766;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 10px;
    cursor: default;
    font-weight: 400;
}
.desktop-container main .content-row-3 .pagination-container .pagination-next {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;
    padding: 10px 22px;
}
.desktop-container main .content-row-3 .pagination-container .arrow-right {
    margin-left: 8px;
    transform: rotate(45deg);
    margin-right: 2px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
}

.desktop-container footer {
    position: relative;
    z-index: 5;
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    margin-top: 50px;
}
.desktop-container footer .footer-content {
    max-width: 1080px;
    margin: auto;
    min-width: 980px;
}
.desktop-container footer .footer-content .section-1 {
    padding: 20px 0 60px;
    color: #535766;
    width: 100%;
    text-align: justify;
}
.desktop-container footer .footer-content .section-1 .price-container {
    font-size: 12px;
    float: right;
    margin-left: 30px;
    max-width: 380px;
}
.desktop-container footer .footer-content .section-1 .price-container .index-title {
    margin-bottom: -10px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    color: #696b79;
    font-size: 16px;
}
.desktop-container footer .footer-content .section-1 .price-container .date-title {
    font-style: italic;
    padding: 10px 0 0 6px;
    font-weight: 700;
}
.desktop-container footer .footer-content .section-1 .price-container table {
    margin-top: 40px;
    border-collapse: collapse;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    display: table;
}
.desktop-container footer .section-1 .price-container table th,
.desktop-container footer .section-1 .price-container table td {
    text-align: left;
    padding: 8px;
}
.desktop-container footer .section-1 .price-container table #price-th {
    width: 66.35px;
}
.desktop-container footer .section-1 .price-container table a {
    text-decoration: none;
    color: #282c3f;
}
.desktop-container footer .footer-content .section-1 h2.title {
    font-weight: 700;
    text-align: center;
    color: #696b79;
    font-size: 16px;
    margin-bottom: -10px;
    margin-top: 30px;
}
.desktop-container footer .footer-content .section-1 .desc-container {
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
    color: #7e818c;
    width: 61%;
}
.desktop-container footer .footer-content .section-1 .desc-container p {
    margin: 14px 0;
}
.desktop-container footer .footer-content .section-1 .desc-container h2,
.desktop-container footer .footer-content .section-1 .desc-container h3 {
    margin-bottom: -10px;
    margin-top: 30px;
}
.desktop-container footer .footer-content .section-1 .desc-container p:first-child {
    margin-top: 0;
}
.desktop-container footer .footer-content .section-1 .desc-container strong {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #696b79;
}
.desktop-container footer .footer-content .section-1 .desc-container p span {
    font-weight: 700;
}
.desktop-container footer .footer-content .section-1 .desc-container .video-container {
    height: 377.37px;
}
.desktop-container footer .footer-content .section-1 .desc-container .video-placeholder {
    width: 560px;
    height: 315px;
    background-color: lightgrey;
}
.desktop-container footer .footer-content .section-1 .desc-container .video-desc {
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
    display: inline-block;
    margin-top: 6px;
}
.desktop-container footer .footer-content .section-2 {
    overflow: hidden;
    margin-bottom: 24px;
}
.desktop-container footer .footer-content .section-2 p {
    font-weight: 700;
    font-size: 12px;
    margin: 12px 0;
}
.desktop-container footer .footer-content .section-2 a {
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;

}
.desktop-container footer .footer-content .section-2 .column-1 {
    float: left;
    width: 175px;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.desktop-container footer .footer-content .section-2 .column-2 {
    width: 15%;
    float: left;
}
.desktop-container footer .footer-content .section-2 .column-3 {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 380px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}
.desktop-container footer .footer-content .section-2 .column-4 {
    width: 250px;
    float: left;
}
.desktop-container footer .footer-content .section-2 .column-3 p {
    font-weight: 700;
    color: #282c3f;
    margin: -3px 0 0;
    padding: 0 0 25px;
    font-size: 12px;
}
.desktop-container footer .footer-content .section-2 .column-1 > a:nth-child(2),
.desktop-container footer .footer-content .section-2 .column-2 > a:nth-child(2) {
    padding-top: 14px;
}
.desktop-container footer .footer-content .section-2 .column-3 .vertical-space {
    height: 88px;
}
.desktop-container footer .footer-content .section-2 .column-3 .keep-in-touch {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
}
.desktop-container footer .footer-content .section-2 .column-4 > * {
    margin: 15px 0 30px;
    color: #696b79;
}
.desktop-container footer .footer-content .section-2 .column-4 strong {
    color: #282c3f;
    font-weight: 700;
}
.desktop-container footer .footer-content .section-2 .column-4 .space-box {
    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
}
.desktop-container footer .footer-content .section-3 hr {
    box-sizing: content-box;
    overflow: visible;
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
}
.desktop-container footer .footer-content .section-3 .title {
    position: absolute;
    margin-top: -7.5px;
    background: #fafbfc;
    padding-right: 10px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.desktop-container footer .footer-content .section-3 .link-container {
    margin-top: 30px;
}
.desktop-container footer .footer-content .section-3 .link-container > a {
    text-decoration: none;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}
.desktop-container footer .footer-content .section-3 .link-container > a::after {
    content: "|";
    margin-left: 3px;
}
.desktop-container footer .footer-content .section-3 .link-container > a:last-child::after {
    content: "";
}
.desktop-container footer .footer-content .section-4 {
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.desktop-container footer .footer-content .section-4 .left {
    flex: 1;
    color: #696b79;
}
.desktop-container footer .footer-content .section-4 .left a {
    text-decoration: none;
    font-weight: 700;
    color: #526cd0;
}
.desktop-container footer .footer-content .section-4 .middle {
    flex: 1;
    color: #94969f;
    margin-left: 100px;
}
.desktop-container footer .footer-content .section-4 .right {
    flex: 1;
    text-align: end;
}
.desktop-container footer .footer-content .section-4 .right a {
    color: #94969f;
}

.mobile-container {
    position: relative;
}
.mobile-container.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 7;
}

.mobile-container header {
    background-color: #fff;
    position: fixed;
    z-index: 6;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(148, 150, 159, .3);
}
.mobile-container header .back-icon {
    display: inline-block;
}
.mobile-container header .back-icon svg {
    margin-left: 16px !important;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    overflow: hidden;
}
.mobile-container header .myntra-icon {
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
}
.mobile-container header .myntra-icon svg {
    overflow: hidden;
}
.mobile-container header .header-title {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    top: 11px;
    position: relative;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: calc(100% - 260px);
    text-transform: capitalize;
    color: #424553;
}
.mobile-container header .header-title .header-sub-heading {
    font-size: 12px;
    font-weight: 400;
}
.mobile-container header .right {
    float: right;
    display: inline-block;
}
.mobile-container header .right .plus {
    display: inline-block;
    position: relative;
    top: 1px;
    vertical-align: top;
    height: 22px;
    width: 24px;
    margin: 17px 16px 16px 0;
}
.mobile-container header .right .search {
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    display: inline-block;
}
.mobile-container header .right .wishlist {
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    display: inline-block;
}
.mobile-container header .right .cart {
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    display: inline-block;
}
.mobile-container main .sort-filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #eaeaec;
    z-index: 10;
    margin: 0;
    text-align: center;
}
.mobile-container main .sort-filter .sort-container,
.mobile-container main .sort-filter .filter-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.mobile-container main .sort-filter .partition {
    border-left: 1px solid #eaeaec !important;
    width: 1px;
    height: 22px;
    z-index: 1;
}
.mobile-container main .sort-filter .sort,
.mobile-container main .sort-filter .filter {
    position: relative;
    overflow: hidden;
}
.mobile-container main .sort-filter button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: 0;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 14px 0 14px 28px;
    font-size: 14px;
    letter-spacing: .9px;
    color: #535766;
    border-color: transparent;
    background-color: #fff;
}
.mobile-container main .sort-filter button svg {
    top: 16px;
    left: 10%;
    width: 16px;
    height: 16px;
    position: absolute;
    overflow: hidden;
}
.mobile-container main .discount-banner {
    background-image: linear-gradient(90deg, #bd6da6, #d799cb);
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 68px 6px 12px;
}
.mobile-container main .discount-banner .discount-banner-item {
    display: table-cell;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.mobile-container main .discount-banner .banner-text-bold {
    font-weight: 700;
    font-size: 12px;
}
.mobile-container main .discount-banner .discount-banner-item > * {
    line-height: 1.42857143;
}

.mobile-container main .cards-container .cards-inner {
    list-style: none;
    padding: 0;
    overflow: hidden;
    clear: both;
}
.mobile-container main .cards-container .cards-inner .card {
    border-bottom: .5px solid #d4d5d9;
    float: left;
    width: 50%;
    margin: 0;
    overflow: hidden;
}
.mobile-container main .cards-container .cards-inner .card:nth-child(1),
.mobile-container main .cards-container .cards-inner .card:nth-child(2) {
    border-top: 1px solid #d4d5d9;
}
.mobile-container main .cards-container .cards-inner .card:nth-child(odd) {
    clear: left;
    border-right: .5px solid #d4d5d9;
}
.mobile-container main .cards-container .cards-inner .card .product {
    position: relative;
    text-align: center;
}
.mobile-container main .cards-container .cards-inner .img-container {
    width: auto !important;
    position: relative;
    height: 255px;
    background: rgb(255, 237, 243);
    text-align: center;
}
.mobile-container main .cards-container .cards-inner .img-container img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 255px;
    background: #fff;
    color: #fff;
    display: block;
    max-width: 100%;
}
.mobile-container main .cards-container .cards-inner .ratings-container {
    position: absolute;
    height: 18px;
    margin: -28px 0 0 11px;
    border: 1px solid #eaeaec;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    border-radius: 9px;
    width: auto;
    color: #282c3f;
    text-align: center;
    font-size: 13px;
    line-height: 1.42857143;
}
.mobile-container main .cards-container .cards-inner .ratings-container .rating-text {
    font-size: 10px;
    font-weight: 700;
}
.mobile-container main .cards-container .cards-inner .ratings-container .star-icon {
    background-image: url(https://constant.myntassets.com/pwa/assets/img/2bce8a2b-e1d5-465a-8980-62f3d778377c1548353615799-Fill-90-Copy-7.png);
    background-size: cover;
    position: relative;
    margin: 0 6px 0 4px;
    font-size: 9px;
    padding: 3px;
}
.mobile-container main .cards-container .cards-inner .ratings-container .rating-count {
    font-size: 10px;
    font-weight: 700;
    margin-left: 5px;
    color: #282c3f;
}
.mobile-container main .cards-container .cards-inner .ad-container {
    background-color: #a9abb3;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
}
.mobile-container main .cards-container .card .desc-wrapper {
    position: relative;
}
.mobile-container main .card .desc-wrapper .desc {
    padding: 8px 0;
    font-size: 12px;
}
.mobile-container main .card .desc-wrapper .desc .product-brand {
    padding-left: 8px;
    font-weight: 700;
    line-height: 1.57;
    text-align: left;
    color: #282c3f;
    font-size: 13px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mobile-container main .card .desc-wrapper .desc .product-name {
    opacity: .6;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    color: #282c3f;
    height: 12px;
    line-height: 1.1;
}
.mobile-container main .card .desc-wrapper .desc .price-container {
    color: #282c3f;
    font-size: 12px;
    margin-top: -1px;
    padding-left: 6px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobile-container main .card .desc .price-container .price {
    text-align: left;
    white-space: nowrap;
    font-weight: 700;
    color: #282c3f;
    font-size: 13px;
}
.mobile-container main .card .desc .price-container .price svg {
    position: relative;
    top: 4px;
    overflow: hidden;
}
.mobile-container main .card .desc .price-container .price .discounted-price {
    position: relative;
    left: -2px;
}
.mobile-container main .card .desc-wrapper .desc .original-price-container {
    opacity: .4;
    color: #282c3f;
    text-decoration: line-through;
    font-size: 13px;
}
.mobile-container main .card .desc .original-price-container svg {
    position: relative;
    top: 1px;
    overflow: hidden;
}
.mobile-container main .card .desc .original-price-container .original-price {
    position: relative;
    left: -2px;
}
.mobile-container main .card .desc-wrapper .desc .discount-percentage {
    color: #ff905a;
    font-weight: 700;
    font-size: 11px;
    white-space: nowrap;
}
.mobile-container main .card .desc-wrapper .desc .additional-info {
    color: #ff5722;
    font-size: 12px;
    font-weight: 700;
    min-height: 17px;
    text-align: left;
    margin-left: 8px;
}
.mobile-container main .card .desc-wrapper .wishlist-container {
    color: #282c3f;
    display: inline-block;
    position: absolute;
    bottom: 43px;
    right: 0;
    top: 2px;
    padding-top: 4px;
    padding-left: 15px;
    height: 38px;
}
.mobile-container footer {
    padding-bottom: 50px;
}
.mobile-container footer .top-content {
    color: #3e4152;
    padding: 10px 18px 90px;
    height: 124px;
}
.mobile-container footer .top-content .title {
    line-height: 24px;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    float: left !important;
    font-weight: 700;
}
.mobile-container footer .top-content svg {
    overflow: hidden;
    margin-top: 2px;
    float: right !important;
    transform: rotate(180deg);
}
.mobile-container footer .main-content {
    padding: 20px 20px 30px;
    background: #f5f5f6;
}
.mobile-container footer .main-content .useful-links {
    color: #696b79;
    font-size: 15px;
    line-height: 1.7;
}
.mobile-container footer .main-content .useful-links a {
    text-decoration: none;
    color: #3e4152;
    font-size: 13px;
    text-align: left;
    line-height: 1.7;
}
.mobile-container footer .main-content .useful-links a::after {
    content: "|";
    color: #3e4152;
    margin: 10px 5px;
}
.mobile-container footer .main-content .useful-links a:first-child::after,
.mobile-container footer .main-content .useful-links a:last-child::after {
    content: "";
}
.mobile-container footer .main-content .useful-links .title {
    display: block;
    font-size: 15px !important;
    color: #282c3f !important;
    font-weight: 700;
}
.mobile-container footer .main-content .useful-links h4 {
    font-size: 15px;
    color: #282c3f;
    padding: 10px 0;
    font-weight: 700;
    margin: 10px 0 0;
    text-align: left;
    line-height: 16.5px;

}
.mobile-container footer .main-content .social-links {
    color: #696b79;
    font-size: 15px;
    /* line-height: 1.7; */
    height: 104.3px;
}
.mobile-container footer .main-content .social-links h4 {
    margin-top: 25px;
    font-size: 14px;
    color: #282c3f;
    font-weight: 700;
    margin-bottom: 9px;
    line-height: 15.4px;
}
.mobile-container footer .main-content .social-links a {
    font-size: 27px;
    color: #535766;
    padding: 15px;
    display: inline-block;
}
.mobile-container footer .main-content .social-links a.fb {
    padding-left: 0;
}
.mobile-container footer .main-content .copyright {
    color: #94969f;
    font-size: 9px;
    margin: 20px 0 0;
}
.mobile-container footer .main-content .copyright .right {
    float: right;
}
.mobile-container main .sort-drawer {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    height: auto;
    max-height: 100%;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    clear: both;
    list-style: none;
    z-index: 10;
    display: none;
}
.mobile-container main .sort-drawer .sortby {
    border-bottom: 1px solid #eaeaec;
    font-weight: 700;
    font-size: 14px;
    color: #3e4152;
    padding-left: 10px;
    margin: 0 10px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.mobile-container main .sort-drawer span li {
    margin: 15px auto;
}
.mobile-container main .sort-drawer span li .btn-container {
    position: relative;
    overflow: hidden;
}
.mobile-container main .sort-drawer span li .btn-container button {
    width: 100%;
    display: inline-block;
    border: none;
    text-transform: none;
    text-align: left;
    color: #3e4152;
    background: #fff;
    padding: 1px 6px;
}
.mobile-container main .sort-drawer span li .btn-container .SortModalIcon {
    overflow: hidden;
    width: 24px;
    height: 24px;
    float: left;
    position: relative;
    top: 5px;
    right: -17px;
}
.mobile-container main .sort-drawer span li .btn-container .btn-title {
    padding: 7.5px 0;
    position: absolute;
    width: 82%;
    top: 0;
    font-size: 14px;
    left: 65px;
    line-height: 20px;
}

@media screen and (max-width: 1220px) {
    body {
        font-size: 13px;
        line-height: 1.42857143;
        color: #424553;
        background-color: white;
    }
    .desktop-container {
        display: none;
    }
    .mobile-container {
        display: block;
    }
}